body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
}

.player {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.form-group-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
